@import "tailwindcss";
@import "@fontsource/inter";
@import "@fontsource/space-grotesk";

body {
  background-color: #131313;
  color: #e2e2e2;
  font-family: "Inter", sans-serif;
}

.font-headline {
  font-family: 'Space Grotesk', sans-serif
}

